.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}

.image {
  position: relative;
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  transition: opacity 1s ease;
  z-index: 2;
}

.image-is-visible {
  opacity: 1;
}
