.proverb-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  z-index: 3;
}
.options {
  display: flex;
  justify-content: space-around;
  width: 90vw;
  max-width: 900px;
  margin: 20px auto;
  position: relative;
  z-index: 4;
}
.options__quotes, .options__proverbs {
  position: relative;
  border: 1px solid gray;
  border-radius: 6px;
  color: white;
  background-color: rgba( 0, 0, 0, .6 );
  padding: 12px;
  cursor: pointer;
  z-index: 4;
}
.options__quotes:hover, .options__proverbs:hover,
.next-proverb:hover, .next-quote:hover {
  color: #cccccc;
  background-color: rgba( 0, 0, 0, .9 );
}
.proverb-quote {
  position: relative;
  width: 90vw;
  max-width: 900px;
  max-height: 30vh;
  overflow: auto;
  border: 1px solid gray;
  border-radius: 6px;
  color: white;
  background-color: rgba( 0, 0, 0, .6 );
  padding: 10px;
  z-index: 4;
}
.proverb-quote-content {
  position: relative;
  text-align: center;
  font-size: 1em;
  z-index: 4;
}
.proverb-quote-content p {
  margin-top: 0;
  margin-bottom: 6px;
  margin-block-start: 0;
  margin-block-end: 6px;
}
.proverb-quote-content.largefont {
  font-size: 1.2em;
}
.author {
  position: relative;
  text-align: right;
  margin-left: auto;
  z-index: 4;
}
.next-proverb, .next-quote {
  position: relative;
  border: 1px solid gray;
  border-radius: 6px;
  color: white;
  background-color: rgba( 0, 0, 0, .6 );
  margin-top: 20px;
  padding: 12px;
  cursor: pointer;
  z-index: 99;
}
.is-not-active {
  display: none;
}
div.options div.active {
  color: #cccccc;
  background-color: rgba( 0, 0, 0, .9 );
}
@media only screen and (min-height: 400px) {
  .proverb-container {
    justify-content: center;
  }
  .options {
    margin-top: 0;
  }
}
@media only screen and (min-height: 600px) {
  .proverb-quote-content.largefont {
    font-size: 2em;
  }
}